<!DOCTYPE html>
<html>
  <head>
    <title>Music Toolbox</title>
  </head>
  <header>
    <div class="logo">
      <h1 class="textlogo"> error page </h1>
    </div>
  </header>
  <body>
    <script src='/lamejs/lame.all.js'></script>
    <!-- <script src='/tone/build/Tone.js'></script> -->
    <script src='/jQuery/tmp/jquery.js'></script>
    <script src='/jQuery/tmp/jquery.js'></script>
<!-- 1 -->    <!-- <script> src='/javascripts/beatTone.js'</script> -->
    <script> 



    // var reader = new FileReader();
    // reader.onload = function(event){
    //     var fd = new FormData();
    //     fd.append('fname', 'test.txt');
    //     fd.append('data', event.target.result);
    //     $.ajax({
    //         type: 'POST',
    //         url: 'upload.php',
    //         data: fd,
    //         processData: false,
    //         contentType: false
    //     }).done(function(data) {
    //         // print the output from the upload.php script
    //         console.log(data);
    //     });
    // };

    // reader.readAsDataURL(blob);

    </script>
  </body>
