<!DOCTYPE html>
<html>
  <head>
    <title>Music Toolbox</title>
  </head>
  <header>
    <div class="logo">
      <h1 class="textlogo"> Music Toolbox </h1>
      <h1><%= specs %></h1>
    </div>
  </header>
  <body>
    <script src='/lamejs/lame.all.js'></script>
    <script src='/tone/build/Tone.js'></script>
    <script src='/jQuery/tmp/jquery.js'></script>
    <script src='/jQuery/tmp/jquery.js'></script>
<!-- 1 -->    <!-- <script> src='/javascripts/beatTone.js'</script> -->
    <script> 
  

// generate mp3
    channels = 1; //1 for mono or 2 for stereo
    sampleRate = 44100; //44.1khz (normal mp3 samplerate)
    kbps = 128; //encode 128kbps mp3
    mp3encoder = new lamejs.Mp3Encoder(channels, sampleRate, kbps);
    var mp3Data = [];

    samples = new Int16Array(44100); //one second of silence (get your data from the source you have)
    sampleBlockSize = 1152; //can be anything but make it a multiple of 576 to make encoders life easier

    var mp3Data = [];
    for (var i = 0; i < samples.length; i += sampleBlockSize) {
      sampleChunk = samples.subarray(i, i + sampleBlockSize);
      var mp3buf = mp3encoder.encodeBuffer(sampleChunk);
      if (mp3buf.length > 0) {
          mp3Data.push(mp3buf);
      }
    }
    var mp3buf = mp3encoder.flush();   //finish writing mp3

    if (mp3buf.length > 0) {
        mp3Data.push(new Int8Array(mp3buf));
    }

    var blob = new Blob(mp3Data, {type: 'audio/mp3'});
    console.log("blob is ready");
    var url = window.URL.createObjectURL(blob);
    console.log('MP3 URl: ', url);
    console.log('type: '+blob.type);
    

    var saveData = (function () {
    var a = document.createElement("a");
    document.body.appendChild(a);
    a.style = "display: none";
    return function (fileName) {
        a.href = url;
        a.download = fileName;
        a.click();
        window.URL.revokeObjectURL(url);
    };
    }());

    saveData("test.mp3");


    // var reader = new FileReader();
    // reader.onload = function(event){
    //     var fd = new FormData();
    //     fd.append('fname', 'test.txt');
    //     fd.append('data', event.target.result);
    //     $.ajax({
    //         type: 'POST',
    //         url: 'upload.php',
    //         data: fd,
    //         processData: false,
    //         contentType: false
    //     }).done(function(data) {
    //         // print the output from the upload.php script
    //         console.log(data);
    //     });
    // };

    // reader.readAsDataURL(blob);

    </script>
  </body>
